<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.innovationT.inno.admin.adminMember.dao.AdminMapper">
	
	<resultMap id="adminVO" type="com.innovationT.inno.admin.adminMember.vo.AdminVO">
		<result property="adminIdx" column="ADMIN_IDX"/>
		<result property="adminId" column="ADMIN_ID"/>
		<result property="adminPassword" column="ADMIN_PASSWORD"/>
		<result property="adminGrade" column="ADMIN_GRADE"/>
	</resultMap>
	
	<select id="selectAdminList" resultMap="adminVO">
		SELECT
				ADMIN_IDX,
				ADMIN_ID,
				ADMIN_PASSWORD,
				ADMIN_GRADE
		FROM ADMIN 
		ORDER BY ADMIN_IDX DESC
		limit #{recordCountPerPage} offset #{firstIndex}
	</select>
	
	<insert id="insertAdmin" parameterType="com.innovationT.inno.admin.adminMember.vo.AdminVO">
		<![CDATA[
			INSERT INTO ADMIN 
			VALUES ( default,
				   , #{adminId}
				   , #{adminPassword}
				   , #{adminGrade} )
		]]>
	</insert>
	
	<select id="selectAdmin" parameterType="com.innovationT.inno.admin.adminMember.vo.AdminVO">
		SELECT
				ADMIN_IDX,
				ADMIN_ID,
				ADMIN_PASSWORD,
				ADMIN_GRADE
		FROM ADMIN 
		WEHRE ADMIN_IDX = #{adminIdx}
	</select>
	
	<update id="updateAdmin" parameterType="com.innovationT.inno.admin.adminMember.vo.AdminVO">
		UPDATE ADMIN
		SET ADMIN_ID = #{adminId}
			, ADMIN_PASSWORD = #{adminPassword}
			, ADMIN_GRADE = #{adminGrade}
		WHERE ADMIN_IDX = #{adminIdx}
	</update>
	
	<delete id="deleteAdmin" parameterType="com.innovationT.inno.admin.adminMember.vo.AdminVO">
		DELETE FROM ADMIN
		WHERE ADMIN_IDX = #{adminIdx}
	</delete>
</mapper>